

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@200&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;
    
}

body {
    text-align: center;
    
}

h1 {
    
    padding-left: 2rem;
}

.logo {
    font-family: 'Cedarville Cursive', sans-seriff;
    color: #0047B3;
}

h2 {
    font-family: 'Cedarville Cursive', sans-seriff;
    color: #0047B3;

}
.parent {
    display: flex;
    
    
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    
}

.profile {
    height: 400px;
    width: 400px;
    border-radius: 20%;
    box-shadow: 0 10px 5px #ddd;
    flex: 1;
    
    
    
}

.child {
    margin-top: 3rem;
    
    
    
    height: 100%;
    width: 100%;
    
    
    flex: 1;
    
}

.jason {
    height: 100%;
    width: 100%;
    margin-right: 40px;
    margin-left: 40px;
    line-height: 25px;
    
    flex: 1;

}





header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding: 10px 10px;
    box-shadow: 0px 5px 5px #ddd;
    
    

}

a {
    text-decoration: none;
}

#nav-title {
    margin-right: auto;
}

.parent3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    
    margin: 5rem;
    
    
}

.child3 {
    flex: 1;
    line-height: 25px;
    
    

}

.title {
    margin-bottom: 2rem;
    
}

.parent4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    background-color: whitesmoke;
    box-shadow: 0px 5px 5px #ddd, 0px -5px 5px #ddd;
}

.child4 {
    width: 100%;
    height: 10vh;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
    flex: 1;
    
}

.title2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.contact {
    margin-top: 4rem;
    flex: 1;
}

.logo {
    color: black;
}

.parent5 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 2rem;
}

.skillspic {

    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 3rem;
    height: 50%;
    width: 50%;
    
    
    flex: 1;
}

.project {
    width: 300px;
    height: 200px;
    flex: 1;
    border-radius: 5%;
    box-shadow: 0 5px 5px #ddd;
}

.project-title {
    padding-top: 0;
}

.heading {
    padding-top: 6rem;
}

h2 {
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
    
}

.skillchild {
    flex: 1;
    width: 100%;
}

.icon {
    width: 200px;
    height: 200px;
    
}

.title2 {
    text-align: center;
    margin-top: 2rem;
}

.mighty-form {
    flex: 1 800px;
}
@media only screen and (max-width: 600px){
    .parent {
        display: flex;
        flex-direction: column;
        
    }

    .header {
        display: flex;
        justify-content: flex-end;
        max-width: 100%;
        flex-wrap: wrap;
        
    }

    .profile {
        width: 300px;
        height: 300px;
    }

    li {
        padding: 0;
        margin: 0;
    }
}
